// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

header {
  background-image: url("https://fastly.picsum.photos/id/7/4728/3168.jpg?hmac=c5B5tfYFM9blHHMhuu4UKmhnbZoJqrzNOP9xjkV4w3o");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  color: white;
  text-align: center;
  padding: 4rem;
  margin-bottom: 2rem;
}
